<%- include ("partials/header") %>

<main>
    <h2>Contact</h2>
    <form action="/contact" method="POST" enctype="application/x-www-form-urlencoded">
        <section>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<% if (typeof query.name === 'string') %><%= query.name %>">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<% if (typeof query.email === 'string') %><%= query.email %>">
            </div>
            <div style="grid-column: span 2;">
                <label for="message">Message</label>
                <textarea name="message" id="message"><% if (typeof query.message === 'string') %><%= query.message %></textarea>
            </div>
        </section>
        <input type="submit">
    </form>
    <h2>Suggestions</h2>
    <form action="/suggestions" method="POST" enctype="application/x-www-form-urlencoded">
        <section>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<% if (typeof query.name === 'string') %><%= query.name %>">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<% if (typeof query.email === 'string') %><%= query.email %>">
            </div>
            <div style="grid-column: span 2;">
                <label for="suggestion">Suggestion</label>
                <textarea name="suggestion" id="suggestion"><% if (typeof query.suggestion === 'string') %><%= query.suggestion %></textarea>
            </div>
        </section>
        <input type="submit">
    </form>
    <% suggestions.forEach(function(suggestion) { %>
        <section style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="text-align: left;">
                <h2>Suggestion</h2>
                <p><%= suggestion.suggestion %></p>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <div>
                    <% if (suggestion.userupvoted) { %>
                        <a href="/suggestions/<%= suggestion._id %>/upvote"><img src="arrow-up-blue.svg" alt="arrow up" style="width: 50px;"></a>
                    <% } else { %>
                        <a href="/suggestions/<%= suggestion._id %>/upvote"><img src="arrow-up.svg" alt="arrow up" style="width: 50px;"></a>
                    <% } %>
                    <% if (suggestion.votes > 0) { %>
                        <span style="font-size: 30px; font-weight: bold;"><%= suggestion.votes %></span>
                    <% } else if (suggestion.votes < 0) { %>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <% } %>
                </div>
                <div>
                    <% if (suggestion.userdownvoted) { %>
                        <a href="/suggestions/<%= suggestion._id %>/downvote"><img src="arrow-down-blue.svg" alt="arrow down" style="width: 50px;"></a>
                    <% } else { %>
                        <a href="/suggestions/<%= suggestion._id %>/downvote"><img src="arrow-down.svg" alt="arrow down" style="width: 50px;"></a>
                    <% } %>
                    <% if (suggestion.votes < 0) { %>
                        <span style="font-size: 30px; font-weight: bold;"><%= suggestion.votes %></span>
                    <% } else if (suggestion.votes > 0) { %>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    <% } %>
                </div>
            </div>
        </section>
    <% }) %>
</main>

<%- include ("partials/footer") %>