<%- include ("partials/header") %>

<main>
    <section>
        <h2>Edit Event: <%= event.name %></h2>
        <form action="/events/<%= event._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <section>
                <div>
                    <label for="name">Name</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        value="<% if (typeof event.name === 'string') %><%= event.name %>"
                    />
                </div>
                <div>
                    <label for="date">Date</label>
                    <input
                        type="datetime-local"
                        name="date"
                        id="date"
                        value="<% if (typeof event.date === 'string') %><%= event.date.getFullYear() %>-<% if (event.date.getMonth() + 1 < 10) { %><%= 0 %><% } %><%= event.date.getMonth() + 1 %>-<% if (event.date.getDate() < 10) { %><%= 0 %><% } %><%= event.date.getDate() %>T<% if (event.date.getHours() < 10) { %><%= 0 %><% } %><%= event.date.getHours() %>:<% if (event.date.getMinutes() < 10) { %><%= 0 %><% } %><%= event.date.getMinutes() %>"
                    />
                </div>
                <div>
                    <label for="location">Location</label>
                    <input
                        type="text"
                        name="location"
                        id="location"
                        value="<% if (typeof event.location === 'string') %><%= event.location %>"
                    />
                </div>
                <div>
                    <label for="description">Description</label>
                    <input
                        type="text"
                        name="description"
                        id="description"
                        value="<% if (typeof event.description === 'string') %><%= event.description %>"
                    />
                </div>
                <div>
                    <label for="mainPhoto">Main Photo</label>
                    <select name="changeMainPhoto" id="changeMainPhoto" onchange="toggleMainPhoto(this)">
                        <option>Change Main Photo?</option>
                        <option>yes</option>
                        <option>no</option>
                    </select>
                    <input
                        type="file"
                        name="mainPhoto"
                        id="mainPhoto"
                        style="display: none;"
                    />
                </div>
                <div>
                    <label for="changePhotos">Change photos?</label>
                    <select name="changePhotos" id="changePhotos" onchange="togglePhotos(this)">
                        <option>Change Photos?</option>
                        <option>yes</option>
                        <option>no</option>
                    </select>
                </div>
            </section>
            <input type="submit" />
        </form>
        <button id="addPhotoButt" onclick="addPhoto()" style="display: none;">Add Photo</button>
        <button id="removePhotoButt" onclick="removePhoto()" style="display: none;">Remove Photo</button>
    </section>
</main>

<script type="text/javascript">
    function addPhoto() {
        let photoEl = document.createElement("input");
        let labelEl = document.createElement("label");
        let divEl = document.createElement("div");

        photoEl.type = "file";
        photoEl.name = "photo";
        photoEl.id = "photo";

        labelEl.setAttribute("for", "photo");
        labelEl.innerHTML = "Photo"

        divEl.appendChild(labelEl);
        divEl.appendChild(photoEl);

        document.querySelector("form[action='/events/<%= event._id %>?_method=PUT'] > section").appendChild(divEl)
    }

    function removePhoto() {
        query = document.querySelectorAll("form[action='/events/<%= event._id %>?_method=PUT'] input[name='photo']");
        query[query.length - 1].parentNode.remove();
    }

    function toggleMainPhoto(x) {
        if (x.value === "no") {
            x.parentNode.childNodes[5].style.display = "none"
        }

        else if (x.value === "yes") {
            x.parentNode.childNodes[5].style.display = "block"
        }
    }

    function togglePhotos(x) {
        if (x.value === "yes") {
            document.querySelector("#addPhotoButt").style.display = "inline-block";
            document.querySelector("#removePhotoButt").style.display = "inline-block";
        }

        else if (x.value === "no") {
            document.querySelector("#addPhotoButt").style.display = "none";
            document.querySelector("#removePhotoButt").style.display = "none";
        }
    }
</script>

<%- include ("partials/footer") %>