<%- include ("partials/header") %>

<main>
    <% if (typeof pastEvents === 'object' && pastEvents.length > 0) { %>
    <h2>Past Events</h2>
    <div class="card-container">
        <% pastEvents.forEach(function(event) { %>
            <div class="card" onclick="showOverlay(this)">
                <div
                    class="img"
                    style="background-image: url('/uploads/<%= event.mainPhoto %>')"
                ></div>
                <div class="text">
                    <h3><%= event.name %></h3>
                    <%
                        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    %>
                    <h6><%= monthNames[event.date.getMonth()] %> <%= event.date.getDate() %>, <%= event.date.getFullYear() %> <%= event.date.getHours() - 12 %>:<%= event.date.getMinutes() %> at <%= event.location %></h6>
                    <p>
                        <%= event.description %>
                    </p>
                </div>
                <div class="overlay">
                    <div>
                        <h3>Event Photos</h3>
                        <section>
                            <% event.photos.forEach(function(photo) { %>
                                <div style="background-image: url('/uploads/<%= photo %>');"></div>
                            <% }) %>
                        </section>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <% } %>
    <% if (typeof upcomingEvents === 'object' && upcomingEvents.length > 0) { %>
        <h2>Upcoming Events</h2>
        <div class="card-container">
            <% upcomingEvents.forEach(function(event) { %>
                <div class="card" onclick="showOverlay(this)">
                    <div
                        class="img"
                        style="background-image: url('/uploads/<%= event.mainPhoto %>')"
                    ></div>
                    <div class="text">
                        <h3><%= event.name %></h3>
                        <%
                            const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                            let suffix;
                            let minutes;
                            if (event.date.getHours() >= 12) {
                                suffix = 'PM'
                            } else {
                                suffix = 'AM'
                            }

                            if (event.date.getMinutes() === 0) {
                                minutes = '00';
                            } else {
                                minutes = event.date.getMinutes();
                            }
                        %>
                        <h6><%= monthNames[event.date.getMonth()] %> <%= event.date.getDate() %>, <%= event.date.getFullYear() %> <%= event.date.getHours() - 12 %>:<%= minutes %> <%= suffix %> at <%= event.location %></h6>
                        <p>
                            <%= event.description %>
                        </p>
                    </div>
                    <div class="overlay">
                        <div>
                            <h3>Event Photos</h3>
                            <% if (typeof user === 'object') { %>
                                <% if (event.attendees.some(e => e._id.toString() === user._id.toString())) { %>
                                    <form action="/events/<%= event._id %>/dersvp" method="POST" enctype="application/x-www-form-urlencoded">
                                        <input type="submit" value="DERSVP">
                                    </form>
                                <% } else { %>
                                    <form action="/events/<%= event._id %>/rsvp" method="POST" enctype="application/x-www-form-urlencoded">
                                        <input type="submit" value="RSVP">
                                    </form>
                                <% } %>
                            <% } else { %>
                                <form action="/login" method="GET">
                                    <input type="submit" value="LOGIN to RSVP">
                                </form>
                            <% } %>
                            <h4>Attendees</h3>
                            <div class="rsvp">
                                <% event.attendees.forEach(function(attendee) { %>
                                    <span><%= attendee.name %></span>
                                <% }) %>
                            </div>
                            <section>
                                <% event.photos.forEach(function(photo) { %>
                                    <div style="background-image: url('/uploads/<%= photo %>');"></div>
                                <% }) %>
                            </section>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
</main>
<script type="text/javascript">
    function showOverlay(x) {
        x.childNodes[5].classList.toggle("show");
        document.documentElement.classList.toggle("stop-scroll")
        if (x.childNodes[1].style.minWidth === "100%") {
            x.childNodes[1].style.minWidth = "400px"
        } else {
            x.childNodes[1].style.minWidth = "100%"
        }
    }

    document.onkeydown = function (evt) {
        evt = evt || window.event;
        var isEscape = false;
        if ("key" in evt) {
            isEscape = evt.key === "Escape" || evt.key === "Esc";
        } else {
            isEscape = evt.keyCode === 27;
        }
        if (isEscape) {
            document
                .querySelectorAll(".card .show")
                .forEach((div) => {
                    div.classList.remove("show");
                    document.documentElement.classList.remove("stop-scroll");

                });
            document.querySelector(".card .img").style.minWidth = "400px"
        }
    };
</script>

<%- include ("partials/footer") %>