<%- include ("partials/header") %>

<main>
    <% if (typeof members === 'object') { %>
    <section>
        <h2>Approve Members</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            <% members.forEach(function(member) { %> <% if (member.isActivated
            === false) { %>
            <tr>
                <td><%= member.name %></td>
                <td><%= member.email %></td>
                <td><%= member.phone %></td>
                <td>
                    <form
                        action="/members/<%= member._id %>?_method=PUT"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <input
                            type="hidden"
                            name="isActivated"
                            value="true"
                        /><input type="submit" value="Activate" />
                    </form>
                    <form
                        action="/members/<%= member._id %>?_method=DELETE"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            <% } %> <% }) %>
        </table>
    </section>
    <section>
        <h2>Members</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            <% members.forEach(function(member) { %> <% if (member.isActivated
            === true) { %>
            <tr>
                <td><%= member.name %></td>
                <td><%= member.email %></td>
                <td><%= member.phone %></td>
                <td>
                    <% if (member.isAdmin === false) { %>
                    <form
                        action="/members/<%= member._id %>?_method=PUT"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <input
                            type="hidden"
                            name="isAdmin"
                            value="true"
                        /><input type="submit" value="Make Admin" />
                    </form>
                    <% } else { %>
                    <form
                        action="/members/<%= member._id %>?_method=PUT"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <input
                            type="hidden"
                            name="isAdmin"
                            value="false"
                        /><input type="submit" value="Remove Admin" />
                    </form>
                    <% } %>
                    <form
                        action="/members/<%= member._id %>?_method=DELETE"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                        onsubmit="return confirm('Are you sure you want to DELETE <%= member.name %>?')"
                    >
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            <% } %> <% }) %>
        </table>
    </section>
    <% } %>
    <section>
        <h2>Create an Event</h2>
        <form action="/events" method="POST" enctype="multipart/form-data">
            <section>
                <div>
                    <label for="name">Name</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        value="<% if (typeof query.name === 'string') %><%= query.name %>"
                    />
                </div>
                <div>
                    <label for="date">Date</label>
                    <input
                        type="datetime-local"
                        name="date"
                        id="date"
                        value="<% if (typeof query.date === 'string') %><%= query.date %>"
                    />
                </div>
                <div>
                    <label for="location">Location</label>
                    <input
                        type="text"
                        name="location"
                        id="location"
                        value="<% if (typeof query.location === 'string') %><%= query.location %>"
                    />
                </div>
                <div>
                    <label for="description">Description</label>
                    <input
                        type="text"
                        name="description"
                        id="description"
                        value="<% if (typeof query.description === 'string') %><%= query.description %>"
                    />
                </div>
                <div>
                    <label for="mainPhoto">Main Photo</label>
                    <input type="file" name="mainPhoto" id="mainPhoto" />
                </div>
                <div>
                    <label for="photo">Photo</label>
                    <input type="file" name="photo" id="photo" />
                </div>
                <div>
                    <label for="photo">Photo</label>
                    <input type="file" name="photo" id="photo" />
                </div>
            </section>
            <input type="submit" />
        </form>
        <button onclick="addPhoto()">Add Photo</button>
        <button onclick="removePhoto()">Remove Photo</button>
    </section>
    <% if (typeof events === 'object') { %>
    <section>
        <h2>Events</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
            <% events.forEach(function(event) { %>
            <tr>
                <td><%= event.name %></td>
                <td><%= event.date %></td>
                <td><%= event.location %></td>
                <td>
                    <form
                        action="/events/<%= event._id %>/edit"
                        method="GET"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <input type="submit" value="Edit" />
                    </form>
                    <form
                        action="/events/<%= event._id %>?_method=DELETE"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
    </section>
    <% } %>
</main>

<script type="text/javascript">
    function addPhoto() {
        let photoEl = document.createElement("input");
        let labelEl = document.createElement("label");
        let divEl = document.createElement("div");

        photoEl.type = "file";
        photoEl.name = "photo";
        photoEl.id = "photo";

        labelEl.setAttribute("for", "photo");
        labelEl.innerHTML = "Photo";

        divEl.appendChild(labelEl);
        divEl.appendChild(photoEl);

        document
            .querySelector("form[action='/events'] > section")
            .appendChild(divEl);
    }

    function removePhoto() {
        query = document.querySelectorAll(
            "form[action='/events'] input[name='photo']"
        );
        query[query.length - 1].parentNode.remove();
    }
</script>

<%- include ("partials/footer") %>
