<%- include ("partials/header") %>

<main>
    <section>
        <h2>Approve Members</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            <% unactivatedMembers.forEach(function(member) { %>
                <tr>
                    <td><%= member.name %></td>
                    <td><%= member.email %></td>
                    <td><%= member.phone %></td>
                    <td>
                        <form action="/members/<%= member._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded"><input type="hidden" name="isActivated" value="true"><input type="submit" value="Activate"></form>
                        <form action="/members/<%= member._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded"><input type="submit" value="Delete"></form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </section>
</main>

<%- include ("partials/footer") %>